body {
  background-color: #0c151d;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  gap: 60px;
  color: #f1f2f4;
}

path {
  fill: #f1f2f4;
}

#logo-circle {
  width: 80px;
  height: 80px;
  background-color: #171f26;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  display: flex;
  align-items: center;
  gap: 30px;
}

#profile img {
  width: 215px;
  height: 215px;
}

#profile-text {
  display: flex;
  flex-direction: column;
}

#profile-text h1 {
  font-size: 46px;
  line-height: 69px;
  font-weight: 500;
  margin: 0;
}

#profile-text p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  margin: 0;
}

#logos {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 620px) {
  body {
    gap: 30px;
  }

  #logo-circle {
    width: 48px;
    height: 48px;
  }

  #logo-circle svg {
    width: 24px;
    height: 24px;
  }

  #profile {
    display: flex;
    flex-direction: column;
  }

  #profile img {
    width: 124px;
    height: 124px;
  }

  #profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profile-text h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }

  #profile-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}

#section2 {
  height: 142px;
  width: 634px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 40px;
}

#text-box1 {
  height: 102px;
  width: 148px;
}
p {
  margin: 0;
}

#text-box2 {
  height: 102px;
  width: 125px;
}

#text-box3 {
  height: 102px;
  width: 119px;
}
.text {
  font-size: 22px;
  text-align: center;
}

#section3 {
  height: 80px;
  width: 618px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.button {
  height: 80px;
  width: 290px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#download {
  background-color: #fbd144;
  color: #3d3d3d;
}

#section4 {
  height: 110px;
  width: 760px;
  background-color: var(--secondary-base-color);
  border-radius: 20px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
}
#section4-left {
  height: 80px;
  width: 351.45px;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  font-size: 22px;
  color: var(--text-color);
  background-color: var(--base-color);
  cursor: pointer;
}

#section4-right {
  width: 384.39px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

#section5 {
  width: 757px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#section5 img {
  margin-bottom: 20px;
}

#footer {
  height: 33px;
  width: 463px;
  text-align: center;
  font-size: 22px;
}
